# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# Config file
config.py

# Emails files (for confidentiality)
emails.xlsx
Lista expertos.xlsx
